body {
    background-color: #fbf5ec;
}


h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 4em;
    color: #1C1B19;
}

h2 {
    font-family: 'SF Pro Display', sans-serif;
    color: #1C1B19;
}

/* bar
   ========================================================================== */
nav {
    z-index: 5;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.9s;
    align-items: center;
}

.navbar {
    background-color: #151734;
    backdrop-filter: blur(20em);
}

.badge_panier {
    transition: 0.75s;
}

.badge_panier:hover {
    transform: translateY(-10px);
    transition: 0.75s;
}

.logo {
    position: relative;
}

.logo:hover {
    opacity: 30%;
    size: 2em;
    transition: 0.3s;
}

.logo:active {
    opacity: 10%;
    transition: 0.3s;
}

.dropdown_nav {
    font-family: 'SF Pro Display', sans-serif;
    color: #1C1B19;
    text-align: center;
    border: none;
    text-decoration: none;
}

.left_button {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    background-color: hsla(0, 0%, 0%, 0);
    margin: 0.5em;
    transition: 0.3s;
    text-decoration: none;
}

.left_button:active {
    opacity: 20%;
    transition: 0.3s;
}


.right_button {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.2em;
    padding: 0.1em;
    color: #ffffff;
    background-color: hsla(0, 0%, 0%, 0);
    margin: 0.5em;
    border: solid 0.1em #ffffff;
    border-radius: 2em;
    transition: 0.4s;
}

.right_button:hover {
    background-color: #ffffff;
    border: solid 0.1em #ffffff;
    border-radius: 2em;
    transition: 0.4s;
}

.left_button:active {
    color: rgb(218, 209, 191);
}


.card-body {
    font-family: 'SF Pro Display', sans-serif;
}


/* Panier
   ========================================================================== */

.h1_panier {
    padding-top: 4em;
    padding-bottom: 2.8em;

}

.panier-header {
    margin-bottom: 12em;
}

.table_panier {
    background-color: #e06a70;
    border-radius: 2em;
}

/* Header
   ========================================================================== */


.header_style {
    background-image: url(../../public/images/four_pizza.jpeg);
    padding-bottom: 8em;
    padding-top: 8em;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw;
}


.bombi_sous {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.title_bombino {
    width: 30vw;
}

.bombino {
    border-radius: 4em 4em 4em 4em;
    padding-top: 0.1em;
    margin-bottom: -50px;
    font-family: "pf-marlet-display", sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-position-y: 40em;
    font-size: 15vw;
    width: 100%;
}

.adresse {
    text-decoration: none !important;
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    font-size: 1.89em;
    position: relative;
    left: 15em;
}

.adresse_maps {
    text-decoration: none;
}

.sous-titre {
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
    color: #e06a70;
    font-weight: 200;
    font-style: normal;
    font-size: 5.8vw;
}

.four_pizza {
    width: 95vw;
    object-fit: cover;

    float: left;
    shape-outside: content-box;
    zoom: 30%;
}

.pizzeria_typo {
    width: 40%;
}


h3 {
    font-family: "pf-marlet-display", sans-serif;
    color: #1C1B19;
    font-weight: 700;
    font-style: normal;

}

h4 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 3em;
}

p {
    font-family: 'SF Pro Display', sans-serif;
}

/* -----------  Home page  ----------- */
/* --------  Menu  -------- */
.produit {
    border: .2rem solid #ffba4c16;
    border-radius: 3em;
    margin-top: 2em;
}

.gamme_chap {
    display: flex;
    justify-content: center;
}

.gamme_title {
    display: flex;
    justify-content: flex-start;
    font-size: 2vw;
    color: #d7c1aa;
    text-decoration: underline;
    text-decoration: none;
    transition: 0.45s;
}

.gamme_title:hover {
    color: #CD2028;
    transition: 0.45s;

}

.title_menu {
    color: #151734;
    font-family: "pf-marlet-display", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(3vmin + 80px);
    margin: 80px 0 20px;
}

.quantity_menu {
    color: rgb(67, 60, 55);
    border: solid .1em #f8eadb;
    background-color: #fff5ea;
    text-align: center;
}

.photo_article {
    height: 25vw;
    border-radius: 1.5em;
}

.ajoutValider {
    color: #CD2028;
    background-color: #fbf5ec;
}

.detail_article {
    display: flex;
    flex-direction: column;
}

.ingredients {
    font-size: 1.4em;
    /* font-weight: bold; */

}

/* Sticky effect */

.column {
    max-width: 900px;
    margin: 0 auto;
}

.heading-content {
    flex-grow: 1;
}

.name_produit {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 3em;
    color: #CD2028;
}


/* Sticky Content -> gammes
   ========================================================================== */
.gamme_name {
    padding-top: 2em;
    font-size: 6em;
}

.sticky-content {
    right: 20em;
    position: sticky;
    top: 0;
    /* z-index: 10; */
    padding: 3rem 20px;
}

.sticky-content-title {
    margin: 0;
    font-size: 35px;
}

.placeholder-content {
    margin-top: 2em;
    height: 1000px;
}

.placeholder-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* --------  Story Bombino  -------- */
.story {
    background-color: #CD2028;
    padding: 4em;
}

.marco_image {
    object-fit: cover;
    border-radius: 4em 22em 22em 4em;
    float: left;
    shape-outside: content-box;
    margin: 0px 20px 5px 0px;
}

.presentation {
    font-family: "pf-marlet-display", sans-serif;
    font-size: 6em;
    opacity: 80%;
    color: #fa737a;
}

.presentation_text {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.5em;
    opacity: 80%;
    color: white;
}

/* -----------  Horaire  ----------- */
.horaire {
    color: #fff1f1;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #CD2028;
}

.horaires {
    font-family: "pf-marlet-display", sans-serif;
    font-size: 4em;
    color: #e06e73;
}

.font_hour {
    font-size: 2em;
}

li {
    list-style-type: none;
}

/* --------  Livraison  -------- */
.livraison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    text-decoration: none;
}

.delivroo {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
    transition: 0.75s;

}

.delivroo:hover {
    transform: translateY(-10px);
    transition: 0.75s;
}

.card_livraison {
    filter: blur(5px);
    opacity: 60%;
    margin-left: 2em;
    margin-right: 2em;

}

/* Nos offres d'emploi */
.h2_job {
    margin-left: 1em;
    margin-bottom: 1em;
    font-family: "pf-marlet-display", sans-serif;
    font-size: 4em;
    display: flex;
    align-items: center;
    color: #fafafa;
}

.job {
    padding-top: 8em;
    padding-bottom: 8em;
    background-color: #151734;
}

.card_job {
    background-color: #21244f;
    color: white;
    box-shadow: 0px 12px 12px 8px #0f1028;
    border-style: none;
}

.formulaire_candidature {
    margin-top: 4em;
    color: white;
}

.form-floating {
    color: #1c1b194f;
}

.send_candidature {
    display: flex;
    justify-content: center;
}

/* -----------  Réservation  ----------- */
/* --------  Formulaire  -------- */
.formulaire {
    background-color: #F2EBE9;
    padding: 3em;
    border-radius: 2em;
}

.formulaire h3 {
    font-family: 'SF Pro Display', sans-serif !important;
    color: #CD2028;

}

.title_reservation {
    font-size: 2em;
}


/* -----------  Login----------- */

.login {
    margin-top: 20em;
    margin-bottom: 30em;
}

.card-header {
    margin-bottom: 4em;
}

.login_button {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.2em;
    padding: 0.1em;
    color: #CD2028;
    background-color: hsla(0, 0%, 0%, 0);
    margin: 0.5em;
    border: solid 0.1em #CD2028;
}

.login_button:hover {
    border: solid 0.1em #CD2028;
    color: #CD2028;
    background-color: #fbf5ec;
}

.login_button:active {
    border: solid 0.1em #CD2028;
    color: #CD2028;
    background-color: #fbf5ec;
}

.lien_login {
    font-size: 1em;
    text-decoration: none;
}

.register_title {
    font-family: 'pf-marlet-display',
        sans-serif;
    color: #CD2028;
    font-size: 3em;
}

/* ----------- register ----------- */
.register {
    padding-bottom: 8em;
    margin-top: 14em;

}

/* ----------- mot de passe oublié ----------- */
.reinitialiser {
    padding-bottom: 35em;
    margin-top: 24em;

}

/* -----------  Backoffice ----------- */
.rack {
    padding: 8px;
    background-color: #f7edde;
    border-radius: 2em;
}

.arborescence button {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #4b453800;
    padding: 0.5em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    transition: 0.2s;
}

.gamme_id {
    background-color: white;
}

.gamme_creat {
    border: none;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}

.arborescence button:hover {
    background-color: rgb(255, 246, 243);
    transition: 0.2s;

}

/* --  Créer un article -- */

form {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
}

/* switch bouton */


.inactiveMixin {
    position: absolute;
    display: block;
}

.beforeAnimation {
    -moz-transition: .2s cubic-bezier(.24, 0, .5, 1);
    -o-transition: .2s cubic-bezier(.24, 0, .5, 1);
    -webkit-transition: .2s cubic-bezier(.24, 0, .5, 1);
    transition: .2s cubic-bezier(.24, 0, .5, 1);
}

.afterAnimation {
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, .04), 0 4px 9px hsla(0, 0%, 0%, .13), 0 3px 3px hsla(0, 0%, 0%, .05);
    -moz-transition: .35s cubic-bezier(.54, 1.60, .5, 1);
    -o-transition: .35s cubic-bezier(.54, 1.60, .5, 1);
    -webkit-transition: .35s cubic-bezier(.54, 1.60, .5, 1);
    transition: .35s cubic-bezier(.54, 1.60, .5, 1);
}

/* switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f32121;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #75f679;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f32121;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* User compte */

.Mon_compte_creat {
    margin: 2em;
    display: flex;
    border: none;
    text-decoration: none;
    justify-content: center;
}

.title_user {
    font-size: 2.5em;
}

.supprimer_compte {
    font-size: 1em;
    margin-bottom: 1em;
}

/* home annexe */
.finger {
    width: 4em;
    transform: translateX(90vw);
    transition: 0.25s;
    animation: fadeIn 5s;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.finger:hover {
    width: 4.2em;
    transition: 0.35s;
}

/* ----------- footer Bombino ----------- */

footer {
    /* background-color: #1C1B19; */
    background-color: rgba(255, 255, 255, 0.314);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.logo_footer {
    padding-left: 4em;
    min-width: 10em;
    max-width: 20em;
}


@media only screen and (max-width: 800px) {

    /* Styles pour cette Media Queries */
    .finger {
        transform: translateX(40em);
    }
}


@media only screen and (max-width: 1250px) {
    .sticky-content {
        margin-right: 20em;
        font-size: 0.9em;
    }

    .finger {
        transform: translateX(70em);
    }

    .marco_image {
        object-fit: cover;
        border-radius: 22em 22em 4em 4em;
        float: left;
        shape-outside: content-box;
    }


    .presentation {
        font-family: "pf-marlet-display", sans-serif;
        font-size: 4em;
        display: flex;
        align-items: center;

    }

    .presentation_text {

        font-size: 1.4em;
        opacity: 80%;
    }

    .story {
        display: flex;
        flex-direction: column;
    }

    .gamme_name {
        font-size: 2.8em;
    }

    .gamme_chap {
        font-size: 1em;
    }

    .adresse {
        text-decoration: none !important;
        font-family: 'SF Pro Display', sans-serif;
        color: white;
        font-size: 1.89em;
        position: relative;
        left: 6em;
    }
}